<h1>Listing ma_enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Geoid</th>
      <th>Hnumber</th>
      <th>Enrollment</th>
      <th>Enrollment at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ma_enrollments.each do |ma_enrollment| %>
      <tr>
        <td><%= ma_enrollment.geoID %></td>
        <td><%= ma_enrollment.hnumber %></td>
        <td><%= ma_enrollment.enrollment %></td>
        <td><%= ma_enrollment.enrollment_at %></td>
        <td><%= link_to 'Show', ma_enrollment %></td>
        <td><%= link_to 'Edit', edit_ma_enrollment_path(ma_enrollment) %></td>
        <td><%= link_to 'Destroy', ma_enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ma enrollment', new_ma_enrollment_path %>
