<p id="notice"><%= notice %></p>

<p>
  <strong>Geoid:</strong>
  <%= @ma_enrollment.geoID %>
</p>

<p>
  <strong>Hnumber:</strong>
  <%= @ma_enrollment.hnumber %>
</p>

<p>
  <strong>Enrollment:</strong>
  <%= @ma_enrollment.enrollment %>
</p>

<p>
  <strong>Enrollment at:</strong>
  <%= @ma_enrollment.enrollment_at %>
</p>

<%= link_to 'Edit', edit_ma_enrollment_path(@ma_enrollment) %> |
<%= link_to 'Back', ma_enrollments_path %>
