<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @geography.state %>
</p>

<p>
  <strong>County:</strong>
  <%= @geography.county %>
</p>

<%= link_to 'Edit', edit_geography_path(@geography) %> |
<%= link_to 'Back', geographies_path %>
